<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.at.arouter.third" >
    <application>

    <activity android:name=".ui.aty.work_order.CreateWorkOrderActivity"
        android:screenOrientation="portrait">

    </activity>
        <activity android:name=".ui.aty.work_order.WorkOrderActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ui.aty.work_order.WorkOrderDetailActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".ui.aty.notice.NoticeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.at.arouter.common.ui.WebActivity"
            android:screenOrientation="portrait">

        </activity>

</application>
    </manifest>